@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
     <h1>Hello World!!! Burası Contact sayfasıdır...

        @{ 

            int a = 5;



        }
        
        Bugünün tarihi => @DateTime.Now

        Olusturdugum degişkenin degeri @a
        
        </h1>
    </div>
</body>
</html>
